.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-pink {
    background: #e1818f;
    color: #ffffff;
}
 
.btn-pink:hover, .btn-pink:focus, .btn-pink:active, .btn-pink.active, .open > .dropdown-toggle.btn-pink {
    background:  #d65b6d;
}
 
.btn-pink:active, .btn-pink.active {
    background: #da344c;
    box-shadow: none;
}

.btn.outline {
	background: none;
    margin:2px;
	padding: 8px 15px;
}

.btn-pink.outline {
	border: 2px solid #e1818f;
	color: #e1818f;
}

.btn-pink.outline:hover, .btn-pink.outline:focus, .btn-pink.outline:active, .btn-pink.outline.active, .open > .dropdown-toggle.btn-pink {
	color:  #d65b6d;
	border-color:  #d65b6d;
}
.btn-pink.outline:active, .btn-pink.outline.active {
	border-color: #da344c;
	color: #da344c;
	box-shadow: none;
}

.btn-lg.round {
	border-radius: 24px;
}
