.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #e1818f;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background:  #d65b6d;
}
 
.btn-primary:active, .btn-primary.active {
    background: #da344c;
    box-shadow: none;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #e1818f;
	color: #e1818f;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color:  #d65b6d;
	border-color:  #d65b6d;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #da344c;
	color: #da344c;
	box-shadow: none;
}

.btn-lg.round {
	border-radius: 24px;
}
