#canvas-wrap { position:relative; width:300px; height:600px }
#canvas-wrap canvas { position:absolute; top:0; left:0; z-index:0 }

.clothes-drop {

height: 100%;
}
.clothes-items {
/*border: 1px solid silver; removed/ FH */
height: 100%;
}
.canvas-delimiter {
    border: 1px solid silver; 
}

.backdrop {
    height: 55rem;
    overflow: hidden;
}

.bg {
   background-color: #eee;
    opacity: 0.7;
    height: 100%;
    width: 100%;
    border: 0.5px dashed grey;
 
}


.closet-container {
    height: 59rem;
}

.closet-container-interactive {
    height: 62rem;
 

}
.closet-tabs-container-interactive {
    height: 57rem;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right:1px solid silver;
   border-top:1px solid silver;
    overflow: scroll;

}

.closet-tabs-container {
    height: 49rem;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-right:1px solid silver;
    overflow: scroll;
}

.drop-box {
   
    text-align: center;
    border: 3px double black;
    margin: 1rem;
    padding-bottom:1rem;
    box-sizing: border-box;
}
.drag-image {
     cursor: move; 
     overflow: hidden;
}
div.form-group {
    margin-bottom: 0;
}

#upload {
    margin-top: 0;
}
.top {

/*height: 100rem;
width: 100rem;*/
z-index: 6;

}

.active {
    background: #eee;
    border:1px solid grey;
    opacity: .8;

}

.rnd {
border: 1px dotted dimgray;
overflow:hidden;
background: #eee;
opacity: 0.5;
color: #000;
}

.inactive {
    background: transparent;
    opacity: 1;
    border: none;
    }

.canDrop {
    background: black;
    color: white;
}

.closet-images {
    height: 5rem;
    width: auto;
    margin: 2rem;
}
.dropped {
    background: transparent;
    color: transparent;
    border:none;
    opacity: 1;
}

.dropped:hover {
    border: 1px dotted dimgray;
    background: #eee;
    opacity: 0.5;
}

.bottom {
z-index: 4;

 }

.accessory {
z-index: 5;
width: 10rem;
height: 10rem;
}

.bag {
 height: 15rem;
 width:15rem;
z-index: 6;

}
.shoes {   
    height: 15rem;
    width: 15rem;
}

.flair {
    height: 11rem;
    width: 11rem;
}


.backdrop {
background-size: cover;
background-repeat: no-repeat;
}

.teal {
background-image: url('../img/teal-stripe.jpg');
}

.paris {
background-image: url('../img/paris-background.jpg');
}

.mag {
 background-image: url('../img/mag-background.jpg');   
}
.full {
     background: transparent;
    left: 0px;
    top: 0px;
    display:block;
    position: absolute;
   
}

.rel {
    position: relative;
}

.scroll-flow {
overflow:auto;
}

.target {
    position:absolute;
}

#siofu_input {
    margin:0 8rem;
    padding: 0;
    display: inline;
}

.poly-top {
transform: matrix(0.99978, -0.02083, 0.02083, 0.99978, 0, 0);
}
.poly-bottom {
transform: matrix(0.98582, -0.16781, 0.16781, 0.98582, 0, 0);
}
.poly-bag{
transform: matrix(0.95654, 0.29162, -0.29162, 0.95654, 0, 0);
}
.poly-shoes{
 transform: matrix(0.90439, 0.42666, -0.42666, 0.90439, 0, 0);
  z-index: 3;
}
.poly-flair{
z-index:4;
}
.poly-accessory{
transform: matrix(1, 0, 0, 1, 0, 0);
}

#drop-tag {
    padding: 0 3rem;
    font-family: 'Clicker Script', cursive;
    position:absolute;
    font-size:3.5rem;
}

select.form-control {
    -webkit-appearance: none;
}

.icons {
    height:3rem;
    width:3rem;
}

.black   { background-color: #000; }
.black select   { color: #fff; }
.rounded {
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.styled-select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background: transparent;
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}

.noselect {
-webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
