
.container .jumbotron,
.container-fluid .jumbotron,
 #sharp{ 
    background: transparent;
    border-radius: 0;
    border-bottom: 5px double #000;
    padding-top:0;
}

#sharp {
    padding-bottom:0;
}

ul {
    list-style: none;
}
.icon{
    color: #e1818f;
}
.input-names  {
    /*display: inline-block!important;*/

    border: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    color: #777;
    margin-left: 4px;
    font-size: 28px;
    cursor: pointer;
    border-bottom: 1px solid;
}
.hide-elm{
    visibility: hidden;
}
.name-text {
  /*display: inline-block!important;*/
  border: none;
  -webkit-font-smoothing: antialiased;
  border-radius: 0;
  background-color: transparent;
  padding: 0;
  color: #777;
  margin-left: 4px;
  font-size: 28px;
}
.input-names:focus {
    color: #020621;
    border-bottom-color: #03A9F4;
    box-shadow: none;
    outline: 0;
  }
  .input-names:active {
      color: #020621;

      border-bottom-color: #03A9F4;
      box-shadow: none;
      outline: 0;
    }
.half-form {
  width: 200px;
  /*display: inline-block;*/
  height: 50px;
}
/*.camera-icon {
    */
}